.BoxOverlayContainer {
    margin-top: 2rem;
    position: relative;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 5px;
}

.contentOverlay {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.BoxOverlayContainer:hover .contentOverlay {
    opacity: 0.7;
}

.contentDetails {
    position: absolute;
    color: white;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 20%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.BoxOverlayContainer:hover .contentDetails {
    top: 50%;
    opacity: 1;
}